<h2>Health Ring List</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>Ring ID</th>
        <th>Serial Number</th>
        <th>Patient Name</th>
        <th>Model</th>
        <th>Battery</th>
        <th>Status</th>
        <th>Last Sync</th>
    </tr>

    {% for ring in rings %}
    <tr>
        <td>{{ ring.id }}</td>
        <td>{{ ring.ring_serial_number }}</td>
        <td>{{ ring.patient.user.first_name }} {{ ring.patient.user.last_name }}</td>
        <td>{{ ring.model }}</td>
        <td>{{ ring.battery_percentage }}%</td>
        <td>{{ ring.connection_status }}</td>
        <td>{{ ring.last_sync }}</td>
    </tr>
    {% endfor %}
</table>